* {
    box-sizing: border-box;
}

body {
    background: #ffe135;
    color: darkslategray;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    width: 768px;
    min-height: 100vh;
}

header {
    width: inherit;
    height:100px;
}

menu {
    background: darkslategray;
    margin: 0;
    width: inherit;
    position: fixed;
    display: flex;
    justify-content: space-around;
}

menu a {
    margin-top: 20px;
    font-weight: bold;
    text-decoration: none;
    padding: 20px;
    color: #ffe135;
    font-variant: small-caps;
    transition: 2s;
    border-radius: 10px 10px 0 0;
}

menu a:hover {
    background: #ffe135;
    color: darkslategray;
    transition: 0.3s;
}

article {
    flex-grow: 1;
}

h1 {
    text-align: center;
}

table {
    border: 2px solid darkslategray;
    border-collapse: collapse;
    margin: auto;
}

tbody tr:nth-child(2n) {
    background: rgba(255, 255, 255, 0.2);
}

tbody tr:nth-child(2n+1) {
    background: rgba(0, 0, 0, 0.2);
}

td:first-child {
    font-weight: bold;
}

td {
    border: 1px solid darkslategray;
    text-align: center;
    padding: 5px;
}

thead td {
    font-weight: bold;
}

footer {
    background: darkslategray;
    color: #ffe135;
    padding: 30px 20px 100px;
    text-align: center;
}
